.h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333
}

.explaneText {
    font-size: 16px;
    line-height: 27px;
    color: #333;
}

.mainColor {
    color: red;
}

.howto {
    display: flex;
    padding: 60px 120px;
    justify-content: space-between;
}

.howto__topic {
    margin: 0 8px;
    text-align: center;
}

.weather {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #333;
}
.comment {
    text-align: center;
    font-size: 36px;
    margin-top: 12px;
    color: #333;
}
.color_orange {
    color: orange;
}
.color_gray {
    color: gray;
}
.color_aqua {
    color: aqua;
}
.color_silver {
    color: silver;
}
.color_royalblue {
    color: royalblue;
}
.color_greenyellow {
    color: greenyellow;
}
.color_red {
    color: red;
}
.color_gold {
    color: gold;
}
.color_purple {
    color: purple;
}
.staff_image {
    margin-top: 20px;
    margin: 0 auto;
    background-repeat: no-repeat;
    width:15%;
    min-width: 200px;
    height:400px;
}
.staff_image1 {
    background-image: url(../font/ichica.jpg);
}
.staff_image2 {
    background-image: url(../font/niko.jpg);
}
.staff_image3 {
    background-image: url(../font/miku.jpg);
}
.staff_image4 {
    background-image: url(../font/yotsuha.jpg);
}
.staff_image5 {
    background-image: url(../font/itsuki.jpg);
}

.task_table {
    margin: 50px 10px 100px 55px;
    width: max-content;
    display: block;
    overflow: scroll;
    border-collapse: collapse;
    max-height: 182px;
    z-index: -1;
}
.fixed {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    background: aquamarine;
}
.fixed:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.td_id {
    width: 50px;
    text-align: center;
}
.td_id:before {
    cursor: pointer;
}
.td_task {
    width: 300px;
}
.jump_edit {
    color: black;
    text-decoration: none;
}
.button {
    cursor: pointer;
    padding: 0.25em 0.5em;
    width: 7.25em;
    position: absolute;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    transition: 0.1s;
    text-align: center;
}
.button:hover {
    background-color: aqua;
}
.button:active {
    -webkit-transform: translate(0,2px);
    -moz-transform: translate(0,2px);
    transform: translate(0,2px);
    box-shadow: none;
}
.add_task {
    top: 270px;
    left: 300px;
}
.show_task {
    top: 160px;
    left: 160px;
}
.insert_task {
    top: 160px;
    left: 30px;
}
.delete_task {
    top: 160px;
    left: 360px;
}
.edit_spase {
    margin: 50px 10px 100px 10px;
}
.add_spase {
    margin: 50px 10px 130px 10px;
}
.regist_spase {
    margin: 50px 10px 130px 10px;
}
.edit_id {
    width: 30px;
    pointer-events : none;
}
.edit_task {
    width: 300px;
}
.logout {
    position: absolute;
    top: 10px;
    left: 250px;
}
.skyBox {
    background-color: deepskyblue;
    width: 500px;
    height: 300px;
    margin: 100px;
}
.blueBox {
    background-color: blue;
    width: 500px;
    height: 300px;
    margin: 100px;
}
.aquaBox {
    background-color: aqua;
    width: 500px;
    height: 300px;
    margin: 100px;
}