header, body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}

/* ここから */
body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

#header{
    
    background-color: #75AC2D;
    width: auto;
    height: 50px;
    
}

.oneArea{
	background-color: #fff;
    width:auto;
	height: 80px;
    text-align: left;
}

.oneArea img{
	height: 65px;
	margin-top: 7px;
}

#main{
    background-color: #f4f4f4;
    width: auto;
    height: 700px;
}


#footer{
    background-color:#2d2d2d ;
	position:relative;
    bottom:0;
	width: -webkit-fill-available;
	height: 55px;
}

/* ログイン画面 */
.box2 {
	position:relative;
	top: 50px;
	margin:  0 auto; 
	width: 500px;
	height: 250px;
    padding: 85px 1em;
    /* margin: 0 400px; */
    /* font-weight: bold; */
    /* color: #6091d3;文字色 */
    /* background: #FFF; */
    border: solid 3px #75ac2d;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.login_title{
	font-family: 'Courier New', Courier, monospace;
	color: #656565;
	padding-top: 0px;
	font-size: 50px;
	/* padding-bottom: 10px; */
}

.login_name, .login_pass, .button, #login_button{
	color: #656565;
	text-align: center;
}
.login_name, .login_pass{
	margin: 15px;
	font-size: 20px;
}
.login_pass{
	margin-right: 75px;
}
#login_button #entry_button{
	margin-top:10px;
	/* margin-right: 5px;
	margin-left: 200px; */
}
.button{
	font-size: small;
	display: flex;
  flex-direction: column;
	/* margin-left: 690px; */
	margin-top: 15px;
	align-items: center;
	position: relative;
    top: 665px;
}
#login_error_message{
	color: rgb(204, 0, 0);
	margin-top: 20px;
}
/* タスクの並び替え部分 ここから*/
.task_area{
	position: relative;

}
#delete_task_list{
	position: absolute;
	top: 340px;
	left: 850px;
	width: 60px;
	height: 60px;
	border: 2px solid #656565;
}
#task_list{
	/* position: relative;
	left: 0px; */
	position: absolute;
	top: -76px;
	left: 56px;
	margin: 0 auto;
	padding-right: 180px;
    padding-left: 15px;
	width: 700px;
	height: 510px;
	overflow-y: scroll;
	border: 2px solid #656565;
}
.no_task{
    margin: 5px;
	height: 50px;
	border: 1px dotted #656565;
	border-radius: 3px;
}
.no_task_comment{
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}
.task{
	margin: 5px;
	height: 50px;
	border: 1px solid #656565;
	border-radius: 3px;
}
.task:hover{
	cursor: grab;
}
.task:active{
	cursor: grabbing !important;
}
.ui-placeholder{
	margin: 5px;
	height: 50px;
	background-color: whitesmoke;
	border: dotted 1px #656565;
}
.ui-boxshadow {
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
/* タスクの並び替え部分 ここまで */

/* タスクのcss */
#line_check_comment{
	font-size: small;
    margin-top: 8px;
}

/* アイコン */
.lineicon_img{
	width: 100px;
	height: 100px;
}
.lineicon_area{
	display: flex;
	position: relative;
	top: -15px;
	left: 30px;
	text-align: center;
}
.lineicon_area p{
	font-size: 20px;
	/* position: relative;
	top:20px; */
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

/* QR */
.qrcode_area{
	color: #656565;
	background-color: #f4f4f4;
	width: 300px;
	height: inherit;
	float: right;	
	padding-top: inherit;
	padding-left: 10px;
	border-left: 3px solid #fff;
}
.qrcode_img{
	width: 130px;
	height: auto;
	margin-top: 10px;

}
#qr_title{
	color: #ff5200;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	margin-top: 10px;
	font-weight: 400;
	border-bottom: gray;
    padding: 15px;
}
/* ゴミ箱 */
.trash{
	width: 100px;
	height: 100px;
	position: relative;
	top:150px;
	left: 300px;
}

/* plus */
.button_area{
	margin-bottom: 0;
}
.plus{
	width: 30px;
	height: 30px;
}

.add_task_comment{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	left: 55px;
	top: 245px;
}