<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>picon'</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css">
    <link rel="icon" href="../static/font/faviconmaru.ico">
    <script type="text/javascript" src="../static/js/Jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../static/js/Jquery/jquery-ui-1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <div id="header">
       ここがヘッダーです
    </div>

    <div class="section">
        <div class="oneArea">
            <img src="../static/font/moodleRogoWhite.png" alt="Kagawa university">
        </div>
    </div>
    
    <div id="main">
        {% block content %}

        {% endblock %}
    </div>
    <div id="footer">
        <img src="../static/font/moodleRogoBlack.png" alt="Kagawa universuty">

    </div>
    <script type="text/javascript" src="../static/js/variables.js"></script>
    <script type="text/javascript" src="../static/js/MOVE.js"></script>
    <script type="text/javascript" src="../static/js/VIEW.js"></script>
    <script type="text/javascript" src="../static/js/GET.js"></script>
    <script type="text/javascript" src="../static/js/picon.js"></script>
</body>
</html>