{% extends 'base.html' %}
{% block content %}
    
<div class="box2">
    <h1 class="login_title">新規登録</h1>
    <p class="login_name">名前<input type="text" name="member_name" id="entry_login_name" class="input_text" maxlength="10"></p>
    <p class="login_pass">パスワード<input type="password" name="member_pass" id="entry_login_pass" class="input_text" maxlength="30"></p>
    <input type="submit" name="entry" id="entry_button" value="新規登録">
    <a href="/login" class="button">☞ログイン画面はこちら</a>
    <div id="entry_error_message"></div>
</div>

{% endblock %}