{% extends 'base.html' %}
{% block content%}
        <a href="/logout" class="button">ログアウト</a>
        <div class="qrcode_area">
            <img class="qrcode_img" src="../static/font/QRcode.png" alt="LineQr">
        </div>
        <div class="lineicon_area">
            <img class="lineicon_img" src="../static/font/picon'maru.png" alt="LineIcon">
        </div>
        <div class="linecheck_area">
            <p id="line_check_comment"></p>
        </div>
        <div class="button_area">
            <!--<img src="" alt="">:+のアイコンを入れる-->
            <!--<img src="" alt="">:ゴミ箱のアイコンを入れる-->
            <p class="add_task_comment">＋課題の追加</p>
        </div>
        <div class="task_area">
            <ul id="task_list"></ul>
        </div>
        
{% endblock %}