{% extends 'base.html' %}
{% block content%}
        
        <a href="/logout" class="button">ログアウト</a>
        <div class="qrcode_area">
            <img class="qrcode_img" src="../static/font/QRcode.png" alt="LineQr">
        </div>
        <div class="lineicon_area">
            <img class="lineicon_img" src="../static/font/picon'maru.png" alt="LineIcon">
            <p>Picon'</p>
        </div>
        <div class="linecheck_area">
            <p id="line_check_comment"></p>
        </div>
        <div class="button_area">
            <img class="trash" src="../static/font/名称未設定re.png" alt="ゴミ箱">
            <p class="add_task_comment"><img class="plus" src="../static/font/名称未設定-1.png" alt="追加ボタン">課題の追加</p>
        </div>
        <div class="task_area">
            <ul id="task_list"></ul>
        </div>
        <div id="index_error"></div>
        
{% endblock %}