{% extends 'base.html' %}
{% block content%}
        
          <div class="task_area">
            <p id="qr_title">QRコード</p>
            <img class="qrcode_img" src="../static/font/QRcode.png" alt="LineQr">
            <p id="line_check_comment"></p>
            <img class="lineicon_img" src="../static/font/picon'maru.png" alt="LineIcon">
            <p class="task_title">Picon'</p>
            <p class="add_task_comment"><img class="plus" src="../static/font/名称未設定-1.png" alt="追加ボタン">課題の追加</p>
            <ul id="task_list"></ul>
        </div>
        <div id="index_error"></div>
        
{% endblock %}